//
//  Application specific styling
//  specific
//

@import "~stijl/scss/ams-colorpalette";
@import "~stijl/scss/ams-breakpoints";

@media screen and (min-width: 990px) {
  .container_12 {
    max-width: 960px !important;
  }
}

.std-height {
  height: 100%;
}

.single-figure {
  text-align: center;
  font-size: 300%;
  min-height: 150px;
  padding-top: 60px;
}

.card:hover {
  background-color: $ams-lichtgrijs !important;
}
