{% extends "rest_framework/base.html" %}

{% block title %}Datapunt: Atlas API{% endblock %}

{% block branding %}
    <a class='navbar-brand' rel="nofollow" href='/'>
        Datapunt APIs
    </a>
{% endblock %}

{% block bootstrap_theme %}
{% comment %}<link rel="stylesheet" href="//bootswatch.com/simplex/bootstrap.min.css" type="text/css">{% endcomment %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/simplex/bootstrap.min.css" type="text/css">
{% endblock %}

{% block description %}
    <div style="max-width: 50em; text-align: justify">
    {{ description }}
    </div>
{% endblock %}