{% extends "base.html" %}

{% block subtitle %} - Vestigingen{% endblock subtitle %}

{% block content %}
<table class="table table-sm table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">School</th>
      <th scope="col">BRIN6</th>
    </tr>
  </thead>
  <tbody>
{% for vestiging in object_list %}
    <tr>
      <td><a href="/onderwijs/dash/vestiging/{{vestiging.brin6}}/">{{vestiging.naam}}</a></td>
      <td>{{vestiging.brin6}}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock content %}
