{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-6">
<h3 style="text-align: left">{{object.naam}}</h3>
  </div>
  <div class="row-6">
    <div class="col">
<h3 style="text-align: left">Kenmerken Gebiedsdeel</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <div id="vis"></div>
  </div>
  <div class="col-2">
    <div id="vis4"></div>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <div id="vis2"></div>
  </div>
  <div class="col-2">
    <div id="vis5"></div>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <div id="vis3"></div>
  </div>
  <div class="col-2">
    <div id="vis6"></div>
  </div>

</div>
<script id="django">
  // Inject variables through the Django template system:
  var brin6 = '{{object.brin6}}';
</script>
<script src="{% static '/web/config.js' %}" id="config"></script>
<script src="{% static '/web/draw.js' %}"></script>
{% endblock content %}
